# environment variables
.env

# Python virtual environment
.venv/
venv/
__pycache__/
*.pyc

# VS Code local settings
.vscode/

# MLflow local files
mlruns/
mlartifacts/
mlflow.db

# OS files
.DS_Store

# Jupyter
.ipynb_checkpoints/


# Logs
logs/
backend/logs/
*.log

# Ignore database contents
data_base/knowledge_db/*

# Keep folder placeholders
!data_base/knowledge_db/.gitkeep