fastapi
uvicorn
pydantic
python-dotenv
python-json-logger

openai
tavily-python

langchain
langchain-community
langchain-core
langchain-openai
langchain-text-splitters
langchain-cohere

chromadb
pymilvus
cohere

pymupdf
unstructured
markdown
rank-bm25

httpx

redis
celery

langsmith

prometheus-client
prometheus-fastapi-instrumentator

asyncpg